---
import Blog from "../../layouts/Layout.astro";
import Layout from '../../layouts/BlogLayout.astro'
import { getCollection } from "astro:content";

const posts = await getCollection('blog')
---

<Layout title="Blog">
    <h2>Blog</h2>
    <ul>
        {posts.map((post) => (
            <li>

                <h3><a href={`/blog/${post.data.slug}`}>{post.data.title}</a></h3>
                <p>{post.data.description}</p>
            </li>   
        ))}
    </ul>
</Layout>