---
import Welcome from '../../components/Welcome.astro';
import Layout from '../../layouts/Layout.astro';
import Container from '../../components/Container.astro';
import Button from '../../components/Button.astro';
import ProgramCard from '../../components/ProgramCard.astro'
import { Image } from 'astro:assets';
import bgImage from '../../assets/generic-game-bg.jpg'
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Board game adventures at Webster Elementary (Fall)">
<Container>
    <h1 class="text-4xl font-bold mb-4">Board Game Adventures @ Webster Elementary (Fall)</h1>
    <div class="program-grid md:grid">
        <div class="mb-5 md:mb-0">
            <!-- <Image class="md:block hidden mb-5" src={bgImage} alt="Picture of games" /> -->
            <ProgramCard server:defer link="https://buy.stripe.com/28E28qgCsd4KdJn5Zw5os01" programId="cfde22d6-226e-4550-9801-733fa9bff42a" price="120" days="Thursdays Nov. 13 - Dec. 18" time="3 p.m. - 4:15p.m." quantity={10}></ProgramCard>
        </div>
    <div class="program-details">
        <p>
            When we play together, we learn to connect more. Board games serve as a community experience that helps kids learn to interact with one another in more meaningful ways. At the same time, games help teach critical thinking, resiliency, and strategy.
        </p>
        <p>
            In this program, we take students on a journey through a variety of game mechanics they may have never seen before. From deck-building to worker placement to push-your-luck games, each week we’ll explore a different mechanic, play games, and talk about how it all comes together, in a meaningful, connective, screen-free way.        
        </p>
        <h4>Benefits</h4>
        <ul>
            <li>Build resiliency in a controlled, friendly environment</li>
            <li>Learn strategic thinking through fun game mechanics</li>
            <li>Craft interpersonal skills with peers</li>
            <li>Create lasting personal connections</li>

        </ul>
    
    </div> 
</div>
</Container>
</Layout>

