---
export const prerender = false; // Not needed in 'server' mode


import { sanityClient } from "sanity:client";
import Button from "./Button.astro";

const query = `*[_id == 'cfde22d6-226e-4550-9801-733fa9bff42a'].quantity`
const quantity = await sanityClient.fetch(query)

const {link, price, days, programId } = Astro.props
---

<div class="program-meta">
    <h3>${price}</h3>
    <h4>{days}</h4>
    <p>{quantity} seat{quantity >1 &&`s`} left</p>

    {quantity > 0 &&
    <Button href={link} text="Sign up" />
}
  <style>
    @import "tailwindcss";
    .program-grid {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 1rem;
    }
    .program-meta {
        padding: 1rem;
        background-color: white;
        align-self: start;

        h3 {
            @apply text-3xl font-bold mb-5;

        }
        h4 {
            @apply text-xl italic mb-2;
        }
        p {
            @apply mb-2
        }
    }
    </style>