---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<p>
  When we play, something magical happens. We come unbound, if only for a time,
  from the mundane pace of our small reality, and connect to something greater.
  If we don’t take the time to play, we’re only ever what, who, and where we
  are.
</p>

<p><strong>We can be something greater.</strong></p>

<p>
  When We Play, as an orginization, is dedicated to the belief that Play is
  important for everyone. Play is for children. Play is for teenagers. Play is
  for adults.
</p>

<p>
  Beyond that, Play is for families, for communities, for businesses, and maybe
  for the world.
</p>

<p>
  Non-profits exist to research Play. They take a scholarly approach. Likewise,
  there are great organizations bringing play to children and schools. These
  endeavors are drastically important, but they’re not the whole story.
</p>

<p>
  When We Play seeks bring Play to communities, families, and cross-generational
  divides. We seek to operationalize what researchers have discovered: we need
  Play.
</p>

<p>
  We seek to give permission and room for <em>EVERYONE</em> to play and grow together.
</p>

<form
  action="https://buttondown.com/api/emails/embed-subscribe/when-we-play"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.com/when-we-play', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <h2>Follow on this journey</h2>
  <p>
    We won't spam you, we'll just send semi-regular project updates. As we work
    toward what When We Play is as an organization, we’ll send out regular
    updates on our progress toward making Play accessible to everyone.
  </p>

  <p>Follow our progress, and help us shape what this organization will be.</p>
  <label for="bd-email">Enter your email</label>
  <input type="email" name="email" id="bd-email" />

  <input type="submit" value="Subscribe" />
</form>
